<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.iknow.module.main">

    <application android:theme="@style/AppTheme">
        <activity android:name=".module.about.view.AboutAct" />
        <activity android:name=".module.common.url.view.CommonUrlAct" />

        <meta-data
                android:name="host_main"
                android:value="main" />

        <activity android:name=".module.girl.view.GirlAct" />
        <activity android:name=".module.article.view.ArticleDetailAct" />
        <activity android:name=".module.setting.view.SettingAct" />
        <activity
                android:name=".module.home.view.HomeAct"
                android:label="@string/resource_home" />
    </application>

</manifest>