<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.iknow.module.user">

    <application android:theme="@style/AppTheme">
        <activity android:name=".module.info.view.UserInfoAct"></activity>
        <activity android:name=".module.edit.view.UserInfoEditAct" />
        <activity
                android:name=".module.login.view.RegisterAct"
                android:label="@string/resource_register"
                android:launchMode="singleTop"
                android:screenOrientation="portrait" />

        <meta-data
                android:name="host_user"
                android:value="user" />
    </application>

</manifest>